body {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1%;
}

header{
    color: white;
    text-align: center;
    font-weight: bold;
    background-image: url("backgroundimage.webp");
    text-transform: uppercase;
}

h3{
    color: white;
    background-color: black;
    padding: 8px;
    text-align: center;
}

p{
    color: green;
    text-align: justify;
}


td{
    padding: 20px;
}

table{
   margin-left: auto;
   margin-right: auto;
}

.nav{
    color: white;
    font-size: 18px;
    background-color: black;
    text-align: center;
    padding: 20px 0px;
    position: relative;
    width: 100%;
}

.nav a{
 display: inline;
 border: 1px solid ghostwhite;
 border-radius: 1px;
 text-decoration: wavy; 
 padding: 15px;
 background-color: rgb(255, 92, 32);
 color: white;
 margin: 10px;
}

a:hover {
    background-color: blue;
    color: slateblue;
}


.aboutDave > p{
    color: black;
}

.songsampler > p{
    color: black;
}

.hopesandreams > p{
    color: black;
    background-color: white;
}

.songsampler > p{
    color: black;
    background-color: white;
}

.career > p{
    color: black;
    text-align: center;
    border: solid orangered 2px;
}

.education {
    color: black;
    border: solid orangered 2px;
}

.employment {
    color: black;
    border: 2px orangered solid;
}

.contact {
    color: orange;
    text-align: center;
    padding: 20px;
}

#music{
    background-color: white;
    color: green;
}

#camping{
    color: white;
}

p{
    background-color: white;
    color: black;
    padding: 15px;
}

#kenzielogo img{
    height: 200px;
    width: 300px;
    position: relative;
    display: inline;
}

#ivytech img{
    height: 100px;
    position: relative;
    display: inline;
    padding-left: 50px;
}

#iupui img{
    height: 100px;
    position: relative;
    display: inline;
    padding-left: 50px; 
}

footer{
    border: solid orangered 2px;
}

.contact a{
    color: lightgreen;
    background-color: black;
}

.contact a:hover{
    color: blueviolet;
    background-color: greenyellow;
}

.contact h4{
    text-transform: uppercase;
    text-align: center;
    color: black;
    text-decoration: overline underline;
    
}