body {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1%;
}

header{
    color: white;
    text-align: center;
    font-weight: bold;
    background-image: url("backgroundimage.webp");
    text-transform: uppercase;
}

h3{
    color: white;
    background-color: black;
    padding: 8px;
    text-align: center;
}

p{
    color: green;
    text-align: justify;
}


td{
    padding: 20px;
}

table{
   margin-left: auto;
   margin-right: auto;
}

.nav{
    color: white;
    font-size: 18px;
    background-color: black;
}

.aboutDave > p{
    color: black;
}

.songsampler > p{
    color: black;
}

.hopesandreams > p{
    color: black;
    background-color: white;
}

.songsampler > p{
    color: black;
    background-color: white;
}

.career > p{
    color: black;
    text-align: center;
}

.education {
    color: black;
}

.employment {
    color: black;
}

.contact {
    color: orange;
    text-align: center;
}

#music{
    background-color: white;
    color: green;
}

#camping{
    color: white;
}

p{
    background-color: white;
    color: black;
    padding: 15px;
}

a:hover {
    background-color: blue;
    color: slateblue;
}